<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card card-body">
      <h1>Próximamente</h1>
      <p>Esta página estará lista dentro de poco.</p>
      Mientras tanto, prueba otra búsqueda o 
       <a class="btn btn-primary btn-lg" href="/auth/signup" role="button">Regístrate</a>
        en la web.
        <br>
        <a href="/"> Inicio </a>
    </div>
  </div>
</div>