<section class="card">
  <div class="card-body">
  <h1> Sobre esta web </h1>
<br>

<h3>Contenido automático &#129302;</h3>
<p>El contenido que consultas en esta web se actualiza de forma autmática. La aplicación se conecta a la sección de "Trabaja con nosotros" o similar en la web de varias empresas, comprueba si hay nuevas ofertas de interés, y cuando los encuentra los incorpora a una base de datos.

<h3>Actualización periódica &#128198;</h3>
<p>La actualización principal se realiza diariamente.
  Puedes consultar las ofertas mientras están vigentes, eligiendo alguna de las opciones del menú.
<br>
</p>

<h3>Contacto &#128231; </h3>
<p>Puedes contactar conmigo a través de <a href="https://www.linkedin.com/in/luisgentilalperiz/">Linkedin</a>. </p>


  </div>
</section>
