<section class="card">
  <div class="card-body">
  <h1> Sobre esta web </h1>
<br>

<h3>Contenido automático &#129302;</h3>
<p>El contenido que consultas en esta web se actualiza de forma autmática. La aplicación se conecta a distintas webs de empleo, comprueba si hay nuevas ofertas de interés, y cuando los encuentra los incorpora a una base de datos en MongoDB.

<h3>Actualización periódica &#128198;</h3>
<p>La actualización principal se realiza .... cuando se realiza, esto está en construcción.
  
<br>
</p>

<h3>Contacto &#128231; </h3>
<p>Puedes contactar conmigo a través de <a href="https://www.linkedin.com/in/luisgentilalperiz/">Linkedin</a>. </p>


  </div>
</section>
