<div class="card card-body p-5 mt-4">
{{!--   <h1 class="display-4">¿Por qué perderse las mejores ofertas de trabajo?</h1>
  <p class="lead">Cada día cientos de empresas publican sus ofertas en la sección <b>"Trabaja con nosotros"</b> de sus webs.<br> ¿Cómo seguirlas todas? <br>¿Cómo informarse de cada novedad?</p>
  <hr class="my-4" />
  <p>En esta web recopilamos muchas de esas ofertas para que no te pierdas ninguna, y puedas postularte si te interesan.</p>
    Suscríbete aquí e infórmate de esas ofertas que las empresas publican en sus propias webs, actualizadas cada día...</p>
  <p class="">Suscríbete para ser el primero en enterarte de las novedades.</p>
  <div>
    <a class="btn btn-primary btn-lg" href="/auth/signup" role="button">Suscríbete</a>
    <a class="btn btn-success btn-lg" href="/ofertas/sevilla" role="button">ver ofertas</a>
  </div>
  <br> --}}
<h3>Muchas ofertas 💼 aparecen en la sección "Trabaja con nosotros", en la web 🌐 de muchas empresas 🏢.</h3>

<h3 class="lead">🤔 ¿Cómo te enteras si hay novedades? A veces podrás suscribirte ✉️ para recibir avisos. Pero muchas veces esa opción no existe... ❌</h3>

<h1>💡 ¿Cómo no perderte tantas ofertas?</h1>
<br
<p>En NuevoTrabajo seguimos 👀 las publicaciones de varias decenas de empresas, detectamos 🔎 las nuevas ofertas y las difundimos 📣 en nuestra web.</p>

<p>Recopilamos automáticamente 🤖 las ofertas, encuéntra lo que te interesa por: 👇</p>
<ul>
<li><big>📍 Lugar</big>: en <a class="btn btn-success btn-sm" href="/ofertas/sevilla">Sevilla</a>, <a class="btn btn-success btn-sm" href="/ofertas/andalucia">Andalucía</a>, <a class="btn btn-success btn-sm" href="/ofertas/espana">España</a>,... o las que no sabemos dónde son.</li>

<li><big>🧑‍💼 Posición</big>: ofertas de trabajo <a>técnico</a>, <a>administrativo</a>, u <a>otros</a>. <a class="btn btn-success btn-sm" href="/ofertas/buscar">buscar</a></li>

<li><big>🏭 Sector</big>: <a>Aeronáutico</a>, <a>Químico</a>, <a>Educativo</a>, <a>Sector Público</a>, etc. <a class="btn btn-success btn-sm" href="/ofertas/buscar">buscar</a> </li>

<li><big>🏢 Empresa</big>: puedes revisar las ofertas recientes de cada una de las <a>empresas</a>.<a class="btn btn-success btn-sm" href="/ofertas/buscar">buscar</a></li>
</ul>
<p>También puedes 🔍 <a class="btn btn-success" href="/ofertas/buscar">filtrar</a> por múltiples variables: por ejemplo, ofertas en Málaga de sector IT y posición técnico en la empresa Hitachi. Por ejemplo. Si quieres puedes ver un <a>vídeo</a> 🎥 (PENDIENTE 🚧) con un ejemplo fácil.</p>

<p>Si revisas la web con frecuencia puede que te interese revisar las <a class="btn btn-success" href="ofertas/recientes">últimas ofertas</a> ✨, las publicadas en las 24 horas anteriores.</p>

<p>Y seguro que te interesa estar informado de las novedades: cada sábado enviamos un Boletín 📧 para que puedas revisar las novedades de esa semana, por si te has perdido alguna. <a class="btn btn-success" href="/auth/signup" role="button">Apúntate a la lista</a> y no te perderás nada. ✅</p>

<p class="lead">¡Ánimo! 💪 Encontrar un nuevo trabajo es más fácil con NuevoTrabajo.es 👍</p>


  <p>Aquí tienes algunas de las últimas ofertas encontradas: </p>
  
    {{#each oferta}}

      <li> En <b>{{this.company}}</b> buscan {{this.title}} </a> para trabajar en {{this.city}}: solicita hasta el {{this.deadline_}}.

  {{/each}}

</div>