<section class="card">
  <div class="card-body">
  <h1> Advertencias legales </h1>
  Esta web es un proyecto experimental que recoge información y la pone a disposición de quienes puedan estar interesados en encontrar ofertas de empleo. Básicamente crea enlaces a las webs- fuentes originales de las ofertas de empleo. Cada empresa es propietaria y responsable de la información que publica, lógicamente. Se entiende que todas las empresas están interesadas en la difusión gratuita de sus ofertas, y que dicha colaboración es beneficiosa ya que les proporcina posibles candidaturas para sus búsquedas; no obstante, si alguna empresa no estuviera interesada en recibir estas visitas sólo tiene que indicarlo a través de la sección Contacto para que eliminemos sus ofertas de esta web.

<h3>Sobre las cookies </h3>
<p>Se usan cookies para facilitar el uso de nuestra página web. Las cookies son pequeños ficheros de información que nos permiten comparar y entender cómo nuestros usuarios navegan a través de nuestra página web, y de esta manera poder mejorar consecuentemente el proceso de navegación. Las cookies que se usan no almacenan dato personal alguno, ni ningún tipo de información que pueda identificarle. En caso de no querer recibir cookies, por favor configure su navegador de Internet para que las borre del disco duro de su ordenador, las bloquee o le avise en caso de instalación de las mismas. Para continuar sin cambios en la configuración de las cookies, simplemente continúe en la página web.
Puedes obtener más información sobre las cookies y su uso en www.aboutcookies.org.
LOS TIPOS DE COOKIES 
Cookies estrictamente necesarias:
Estas cookies son necesarias para el correcto uso de la página web, permitiendo el acceso a secciones que cuentan con filtros de seguridad. Sin estas cookies, muchos de los servicios disponibles no estarían operativos.
Cookies de Navegación:
Estas cookies recogen información sobre el uso que las visitas hacen de la web, por ejemplo páginas vistas, errores de carga… Es información genérica y anónima, donde no se incluyen datos personales, ni se recoge información que identifique a los visitantes; siendo el objetivo último mejorar el funcionamiento de la web.
Al visitar nuestra página web, acepta la instalación de estas cookies en su dispositivo.
Cookies Funcionales:
Estas cookies permiten recordar información (como su nombre de usuario, idioma o la región en la que se encuentra) y características más personales. Por ejemplo, la posibilidad de ofrecer contenido personalizado basado en la información y criterios que hayas proporcionado voluntariamente. Estas cookies también pueden utilizarse para recordar los cambios realizados en el tamaño del texto, fuentes y otras partes personalizables de la página web. También se utilizan para ofrecer algunos servicios solicitados, como ver un video o comentar en un blog. La información que recopilan estas cookies puede ser anónima y no podrá ser seguida su actividad en otras páginas web.
Al visitar nuestra página web, aceptas la instalación de estas cookies en tu dispositivo.
CÓMO ADMINISTRAR LAS COOKIES EN LOS ORDENADORES
Si quieres permitir el uso de cookies de nuestro site, por favor sigue las siguientes instrucciones.
Google Chrome
Al abrir el navegador, pincha “herramientas” en la parte superior y selecciona la pestaña de “opciones”.  Dentro de opciones, pincha “privacidad”. Marca “permitir la administración de cookies”.
Microsoft Internet Explorer 6.0, 7.0, 8.0, 9.0
Al abrir el navegador, pincha “herramientas” en la parte superior y selecciona la pestaña de “opciones”. Revisa la pestaña de “Privacidad” asegurándote está configurada con un nivel de seguridad medio o inferior. Si la configuración de Internet no es media se estarán bloqueando las cookies.
Mozilla Firefox
Al abrir el navegador, pincha “herramientas” en la parte superior y selecciona la pestaña de “opciones”. Selecciona el icono de Privacidad. Pincha en cookies, y marca: “permitir la instalación de cookies”.
Safari
Al abrir el navegador, pincha “herramientas” en la parte superior y selecciona la pestaña de “opciones”. Pincha en la pestaña de “Seguridad” y revisa si la opción “Bloquear el acceso de cookies de terceros” está marcada o no. Pincha en “guardar”.
LA INSTALACIÓN DE COOKIES EN MAC
Si tienes un Mac y quieres permitir el acceso de nuestras cookies en tu ordenador, por favor sigue las siguientes instrucciones:
Microsoft Internet Explorer 5.0 en OSX
Entra en “Explorer” y selecciona “Preferencias” en la barra de navegación. Haz scroll hacia abajo hasta que veas “Cookies” justo debajo de archivos recibidos. Marca “No volver a preguntar”.
Safari en OSX
Entra en Safari y selecciona “Preferencias” en la barra de navegación. Pincha en la pestaña de “Seguridad” y marcae la opción “aceptar cookies”. Selecciona la opción: “Sólo desde el site actual en que estoy navegando”.
Mozilla y Netscape en OSX
Entra en “Mozilla” o “Netscape” y en la parte superior de tu navegador, marca la opción de “Preferencias”. Haz scroll hacia abajo hasta que veas “Cookies” justo debajo de “Privacidad y Seguridad”. Marca la opción “Permitir el acceso de cookies sólo desde el site actual”
Opera
Entra en “Opera” y selecciona “Menu” y “Ajustes” en la barra de navegación. Selecciona “Preferencias” y pincha en la pestaña de “Avanzado”. Marca la opción “Aceptar cookies”.
</p>

<h3>Protección de datos </h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod unde nobis ut perferendis, odit eius architecto adipisci sed maiores! Ab iste laboriosam iure, reiciendis dolorem laborum. Aliquam perspiciatis quam repellendus, beatae error dicta assumenda. Eum repellendus impedit architecto distinctio nam fuga vero cupiditate necessitatibus optio, hic magni dolor atque fugiat tenetur illum quasi blanditiis ullam ipsum adipisci! Nesciunt veniam blanditiis quaerat, quia nulla voluptatum rem sit amet suscipit doloremque aut beatae tempore, optio autem in reiciendis! Sed est esse dolorem facere iste! Magni rem eos numquam iusto temporibus velit dolore quam rerum excepturi in, inventore quod architecto, nemo cum neque.

<br>
</p>

<h3>Contacto &#128231; </h3>
<p>Puedes contactar conmigo a través de <a href="https://www.linkedin.com/in/luisgentilalperiz/">Linkedin</a>. </p>


  </div>
</section>
