body {
  background: #e5e3e3;
}

.logo {
  width: 30%;
}

.bg-black {
  background: #090909;
}

.footer {
  padding: 25px 25px 25px;
}

a.footer {
  font-size: 0.5em;
}

.logo {
  font-size: 1em;
  font-weight: 500;
}

ol {
  list-style-position: inside;
  }