<div class="row bg-secondary text-white text-left footer">
    <a class='col-sm btn btn-secondary' href="/">&#127969; Inicio</a>
    <a class='col-sm btn btn-secondary' href="/legal">&#128220; Legal</a>
    <a class='col-sm btn btn-secondary' href="/about">&#128231; Contacto</a>
</div>