<div class="p-1 bg-primary text-white text-left">
    <h2 class="text-center"> <a class="logo btn btn-primary" href="/">Nuevo Trabajo</a></h2>
    <p class="text-center">Ofertas de empleo de las webs de cada empresa.</p> 
</div>
  