<nav class="navbar navbar-expand-lg navbar-dark p-2 bg-black">
  <div class="container">
    <a class="nav-link" href="/">Inicio</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item dropdown"></li>
          <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Buscar...</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/ofertas/sevilla">Sevilla</a></li>
            <li><a class="dropdown-item" href="/ofertas/andalucia">Andalucía</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">España</a></li>
            <li><a class="dropdown-item" href="#">Mundo</a></li>
          </ul>
        </li>
              <li class="nav-item"></li>
        <a class="nav-link" href="/ofertasrecientes">Recientes</a>
        <a class="nav-link" href="/ofertas">Todas Ofertas</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        {{#if user}}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Perfil
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/ofertas">Ofertas</a>
              <a class="dropdown-item" href="#">Lorem</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/auth/logout">Logout</a>
            </ul>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/auth/signin">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/signup">Registro</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
