<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-5 bg-primary text-white rounded">
      <div class="card-header text-center pt-5">
        <h1 class="h4 text-white">
          Inicia sesión con tu cuenta
        </h1>
      </div>

      <div class="card-body">
        <form action="/auth/signin" method="POST">
          <div class="mb-3">
            <label for="email">Email:</label>
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="Email"
              autofocus
            />
          </div>
          <div class="mb-3">
            <label for="passsword">Contraseña:</label>
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="Contraseña"
            />
          </div>
          <button class="btn btn-success btn-block">
            Entrar
          </button>
        </form>
      </div>

      <p class="text-center">¿Aún sin datos de acceso? <a href="/auth/signup" class="text-info">Regístrate</a></p>
    </div>
  </div>
</div>